<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Edit <%=dog.name%></title>
</head>
<body>
  <h1>Edit <%= dog.name %></h1>
  <form action="/dogs/<%=dog._id%>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" value="<%= dog.name %>" />
    <label for="goodDog">Ready to play?</label>
    <input
      type="checkbox"
      name="goodDog"
      <% if (dog.goodDog) { %>checked<% } %> 
      />
    <button type="submit">Update Dog type</button>
  </form>
  <a href="/dogs">Back to the dogs</a>
</body>
</html>
  