<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dog Index</title>
</head>
<body>
  <a href="/dogs/new">Add Dog</a>
  <h1>All Dogs</h1>
  <ul>
    <% dogs.forEach((dog) => { %>
      <li>
        <a href="/dogs/<%=dog._id%>">
          <%= dog.text %>
        </a>
      </li>
    <% }) %>
  </ul>
</body>
</html>